- content_for :page_css do
  :plain
    #page-search-status .BoxFix { padding: 4px 0; }

%tr#page-search-status
  %th.label Search
  %td.field
    .BoxFix
      %ul.Inputs.HorizList
        %li
          = radio_button :page, :searchable, true, :class => 'RadioInput'
          %label{:for => 'page_searchable_true' } Searchable
        %li
          = radio_button :page, :searchable, false, :class => 'RadioInput'
          %label{:for => 'page_searchable_false' } Invisible to Search
